
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

nav {
    /* border: 2px solid plum; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 0 2rem;
    /* background-color: #ccc; */
    /* font-family: 'Raleway', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    /* border-bottom: 1px solid #9ca3af; */
}

.nav-links {
    /* border: 2px solid orange; */
    position: absolute;
    right: 0;
    height: 90vh;
    top: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;

    transform: translateX(100%);
    /* transition: transform 0.5s ease-in; */
}

.nav-links li {
    /* border: 2px solid lightblue; */
    /* flex: 1; */
    list-style: none;
    /* display: flex; */
    /* align-items: center; */

    margin: 2rem;
}

.nav-links li {
    opacity: 0;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.nav-links a {
    color: #1f2937;
    /* color: #e5e7eb; */
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 600;
}

.nav-active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
}

/* TEROX Travel Hamburger */

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 1rem;
}

.one, .two {
    height: 1px;
    background-color: black;
    margin: 7px auto;
    border-radius: 3px;
    transition: all 1s;
}

.change .one {
    animation: slideInOne 0.5s ease-in-out 0.5s forwards, rotateLineOne 0.5s ease-in-out 1s forwards;
}

.change .two {
    animation: slideInTwo 0.5s ease-in-out 0.5s forwards, rotateLineTwo 0.5s ease-in-out 1s forwards;
}

@keyframes slideInOne {
    from { translate: 0px 0px; }
    to { translate: 0px 4px; }
}

@keyframes rotateLineOne {
    from { rotate: 0deg; }
    to { rotate: 45deg; }
}

@keyframes slideInTwo {
    from { translate: 0px 0px; }
    to { translate: 0px -4px; }   
}

@keyframes rotateLineTwo {
    from { rotate: 0deg; }
    to { rotate: -45deg; }
}



@media screen and (min-width: 768px) {

    .hamburger {
        display: none;
    }

    /* First */

    /* .nav-links {
        height: 10vh;
        transform: translateX(100%);
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: row;
        justify-content: center;
    } */

    /* Second */

    /* .nav-links {
        height: 10vh;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(100%);
    } */

    /* Third */

    /* .nav-links {
        height: 10vh;
        flex-direction: row;
        justify-content: center;
        position: static;
        transform: translateX(0%);
        transition: none;
    } */

    /* Fourth and final */

    .nav-links {
        height: 10vh;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        top: 0;
        transform: translateX(0%);
        transition: none;
    } 

    .nav-links li {
        opacity: 1;
        margin: 1rem;
    }

}